<%- include('Header'); -%>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>STT</td>
            <td>Tên KH</td>
            <td>Địa chỉ</td>
            <td>Số ĐT</td>
            <td>Thao tác</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].TenKH %></td>
                <td><%= data[i].DiaChi %></td>
                <td><%= data[i].SoDT %></td>
                <td>
                  <a href="/customers/update/<%= data[i].MaKH %>" class="btn">Sửa</a>
                  <a href="/customers/delete/<%= data[i].MaKH %>" class="btn">Xoá</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <form action="/customers/create" method="POST">
          <div class="form-group">
            <input type="text" name="TenKH" placeholder="Tên Khách hàng" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="DiaChi" placeholder="Địa chỉ" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="SoDT" placeholder="Số điện thoại" class="form-control">
          </div>
          <button type="submit" class="btn">
            Lưu
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('Footer'); -%>
